@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800&display=swap');

.page-title {
    font-size: 2em;
    font-family: 'montserrat';
    font-weight: 300;
    text-align: center;
    background-color: rgb(250, 242, 167);
}
article {
    width: 800px;
    margin: 2em auto;
    border-width: 1px;
    border-style: solid;
    border-color: slategrey;
    padding: 30px;
}

.article-title{
color:rgb(247, 134, 134);
}


.article-title2 {
color: rgb(142, 121, 218);
}

.article-title3 {
    color: cadetblue;
}

.article-title4{
    color: rgb(152, 253, 165);
}

p {
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    color: grey;
    margin-bottom: 2.8em;
}

span, time{
    margin-right: 1em;
    font-family: sans-serif;
    color: grey;
    font-weight: bold;
}

.img{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}