.body {
    background-image: linear-gradient(to right, rgb(207, 126, 207), white) ;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {    
    display: flex;
    background-color: white;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 25vw;
    height: 85vh;
    border-radius: 5px;
}

.mountain-img {
    display: flex;
    align-self: right;
    width: 30vw;
    height: 94vh;
    border-radius: 5px;
}

.content-wrapper .text{
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 1.3em;
    font-weight: 800;
}

.form-subtitle {
    color: grey;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.button-fb {
    display: flex;
    align-items: center;
    padding: 5px 45px;
    background-color: rgb(90, 122, 187);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    color: white;
}

.button-xing {
    display: flex;
    align-items: center;
    padding: 5px 45px;
    background-color: #026466;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    color: white;
}

.fb-img, .xing-img {
    width: 20px;
    height: 20px;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    color: grey
}

.email-text {
    font-size: 0.8em;
    color: grey;
    margin-bottom: 1em;
    margin-top: 1em;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid purple;
}

input[type=password] {
    border: none;
    border-bottom: 1px solid purple;
}

.remember-forgot {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.remember-forgot .forgot-password{
    padding-left: 90px;
    color: gray;
}

.buttons2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.button {
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 15px;
}

.buttons2 .login {
    background-image: linear-gradient(to right, rgb(143, 72, 177) 0%, rgb(231, 125, 222) 41%, rgb(235, 177, 130) 100%);
    color: white;
}

.buttons2 .signup {
    border: 1px solid grey;
}

.terms-privacy {
    padding-top: 40px;
    color: gray;
}