@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  font-family: "vidaloka";
  margin: 0;
}
.body .main {
  background-color: #949292;
  min-height: 100vh;
  max-width: 100vw;
}
.body .main .section-wrapper {
  background-color: #006f82;
  max-width: 550px;
  margin: 0 auto;
}
.body .main .section-wrapper .line {
  border: 0;
  height: 1px;
  background: #fafafa;
  width: 2rem;
}
.body .main .section-wrapper .line.intro {
  margin: 0.5rem 0;
}
.body .main .section-wrapper .line.text {
  margin: 10px;
}
.body .main .section-wrapper .line.articles {
  padding: 0;
  margin: 10px;
  background: #fafafa;
}
.body .main .section-wrapper .lava {
  background-image: url(https://images.unsplash.com/photo-1495250357898-6822052ef5b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-size: cover;
}
.body .main .section-wrapper .lava .lava-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.body .main .section-wrapper .lava .lava-header .header-L {
  font-size: 2.3rem;
  font-weight: bold;
}
.body .main .section-wrapper .lava .lava-header .header-links {
  display: flex;
}
.body .main .section-wrapper .lava .lava-header .header-links .link {
  font-size: 0.7rem;
  color: #fafafa;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.1rem;
  padding: 0.7rem 1rem;
}
.body .main .section-wrapper .lava .lava-header .header-links .link:hover {
  transform: scale(1.05);
  transition: 0.6s;
  cursor: pointer;
}
.body .main .section-wrapper .lava .lava-header .header-links .link.button-subscribe {
  border: 1px solid #fafafa;
}
.body .main .section-wrapper .lava .lava-intro {
  padding: 5rem 4rem;
}
@media (max-width: 480px) {
  .body .main .section-wrapper .lava .lava-intro {
    padding: 5rem 2rem;
  }
}
.body .main .section-wrapper .lava .lava-intro .intro-title {
  font-size: 3rem;
  color: #fafafa;
  margin: 0;
  letter-spacing: 0.1rem;
}
.body .main .section-wrapper .lava .lava-intro .intro-subtitle {
  font-family: muli;
  text-transform: uppercase;
  color: #349bcf;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}
.body .main .section-wrapper .lava .lava-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .main .section-wrapper .lava .lava-text .text-title {
  margin: 0;
  color: #fafafa;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.body .main .section-wrapper .lava .lava-text .text-subtitle {
  text-transform: uppercase;
  color: #949292;
  font-family: muli;
  font-size: 0.6rem;
}
.body .main .section-wrapper .lava .lava-text .text-content {
  color: #949292;
  text-align: center;
  padding: 0 5rem 5rem 5rem;
  font-size: 0.7rem;
}
@media (max-width: 480px) {
  .body .main .section-wrapper .lava .lava-text .text-content {
    padding: 2rem;
    text-align: left;
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
}
.body .main .section-wrapper .articles {
  display: flex;
  flex-direction: column;
  background-color: #6b6b6b;
  padding: 4rem 2rem;
}
.body .main .section-wrapper .articles .articles-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .main .section-wrapper .articles .articles-header .articles-title {
  margin: 0;
  color: #fafafa;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.body .main .section-wrapper .articles .articles-header .articles-subtitle {
  display: flex;
  text-transform: uppercase;
  color: #949292;
  font-family: muli;
  font-size: 0.6rem;
  justify-content: center;
}
.body .main .section-wrapper .articles .articles-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 480px) {
  .body .main .section-wrapper .articles .articles-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.body .main .section-wrapper .articles .articles-wrapper .post {
  width: calc(33% - 10px);
  height: 200px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: -10px 10px 30px 1px rgba(0, 0, 0, 0.733);
}
.body .main .section-wrapper .articles .articles-wrapper .post:hover {
  transform: scale(1.025);
  transition: 0.6s;
  cursor: pointer;
}
@media (max-width: 480px) {
  .body .main .section-wrapper .articles .articles-wrapper .post {
    flex-grow: 1;
    width: calc(100% - 10px);
    height: 250px;
    margin: 5px;
  }
}
.body .main .section-wrapper .articles .articles-wrapper .post:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1496693927883-41bf761f7b89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=891&q=80);
  background-size: cover;
  background-position: center;
}
.body .main .section-wrapper .articles .articles-wrapper .post:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1550613097-fe6c2c321cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
  background-size: cover;
  background-position: center;
}
.body .main .section-wrapper .articles .articles-wrapper .post:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1515137009-110da79c0d4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
  background-size: cover;
  background-position: center;
}
.body .main .section-wrapper .articles .articles-wrapper .post .post-title {
  font-family: muli;
  text-transform: uppercase;
  color: #fafafa;
  font-size: 0.8rem;
  text-align: center;
}
.body .main .section-wrapper .articles .articles-wrapper .post .post-subtitle {
  font-family: muli;
  text-transform: uppercase;
  color: #fafafa;
  font-size: 0.6rem;
  padding: 0.5rem;
  text-align: center;
}
.body .main .section-wrapper .subscribe {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #555555;
}
.body .main .section-wrapper .subscribe .subscribe-title {
  margin: 0;
  color: #fafafa;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.body .main .section-wrapper .subscribe .subscribe-subtitle {
  display: flex;
  text-transform: uppercase;
  color: #949292;
  font-family: muli;
  font-size: 0.6rem;
  justify-content: center;
}
.body .main .section-wrapper .subscribe .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
.body .main .section-wrapper .subscribe .form .email {
  padding: 10px 30px;
  border: none;
  background-color: #6b6b6b;
  color: #fafafa;
}
.body .main .section-wrapper .subscribe .form .submit {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
  padding: 0.8rem;
  background-color: transparent;
  border: 1px solid #fafafa;
  max-width: 80px;
  color: #fafafa;
  font-family: muli;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.body .main .section-wrapper .subscribe .form .submit:hover {
  transform: scale(1.05);
  transition: 0.6s;
  cursor: pointer;
}
.body .main .section-wrapper .footer {
  background-color: #6b6b6b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.body .main .section-wrapper .footer .footer-L {
  font-size: 2.3rem;
  font-weight: bold;
  color: #fafafa;
}
.body .main .section-wrapper .footer .footer-links {
  display: flex;
}
.body .main .section-wrapper .footer .footer-links .link {
  font-size: 0.7rem;
  color: #fafafa;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.1rem;
  padding: 0.7rem 1rem;
}
.body .main .section-wrapper .footer .footer-links .link:hover {
  transform: scale(1.05);
  transition: 0.6s;
  cursor: pointer;
}

/*# sourceMappingURL=lava.css.map */
